nav {
	background-color: #0b0c10;
	border-color: #66fcf1;
}

.nav-links:hover {
	color: #66fcf1;
}

.about-content {
	background-color: #c5c6c7;
	border-color: #66fcf1;
	height: 60%;
}

.contact-content {
	background-color: #c5c6c7;
	border-color: #66fcf1;
	height: 65%;
}



